pandas
numpy
requests
beautifulsoup4
pandas-market-calendars
openpyxl
seaborn
matplotlib
streamlit
plotly
matplotlib
seaborn
exchange_calendars
pandas-market-calendars
kaleido
pygame
PyGetWindow
PyAutoGUI
pytesseract
Pillow
pywin32
pynput